@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

@theme {
  /* This creates the utility class "font-main" */
  --font-main: "Archivo Black", sans-serif;
}

body {
  font-family: var(--font-main);
}
